/* Main header styling */
.main_header {
    padding: 0 9rem;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-size: 400% 400%;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
                rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
                rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

/* Navbar brand styling */
.navbar_brand {
    text-align: left;
}

/* Navbar list styling */
.navbarList {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3.2rem;
}

/* Navbar item styling */
.navbarItem {
    height: 100%;
    display: grid;
    place-items: center;
}

/* Navbar link styling */
.navbarList a {
    font-weight: bold;
    font-size: 1.8rem;
    color: #161617;
    padding: 1.3rem 1rem;
    margin: 0;
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease;
}

/* Navbar link hover effect */
.navbarItem a:before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: .5rem;
    background-color: #e50914;
    left: -100%;
    transition: left 0.4s linear, height 0.4s linear;
}

.navbarItem a:hover:before {
    left: 0;
    height: 100%;
    z-index: -1;
}

.navbarList .navbarItem a:hover {
    color: #fff;
}

/* Mobile navbar button */
.mobile-navbar-btn {
    display: none;
}

.mobile-nav-icon {
    cursor: pointer;
}

.mobile-navbar-btn .close-outline {
    display: none;
}

/* Responsive design for smaller screens */
@media screen and (max-width: 999px) {
    .main_header {
        padding: 0 5rem;
    }

    .mobile-navbar-btn {
        display: inline-block;
        z-index: 1000;
    }

    .mobile-nav-icon {
        font-size: 4.2rem;
        color: #161617;
    }

    .mobile-nav-icon:hover, .close-outline:hover {
        color: #e50914;
    }

    /* Hide the original nav menu */
    .navbarList {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        text-align: center;
        transform: translateX(100%);
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s ease;
        z-index: 999;
    }

    .navbarList .navbarItem {
        font-size: 4.2rem;
    }

    .navbarList .navbarItem a {
        font-size: 3.2rem;
    }

    .navbarList .navbarItem a:before {
        height: 100%;
        z-index: -1;
    }

    .navbarList .navbarItem a:hover {
        color: #f2f0f0;
    }

    /* When user clicks on the open menu icon */
    .active .mobile-nav-icon {
        display: none;
        font-size: 4.2rem;
        position: absolute;
        top: 3%;
        right: 10%;
        color: #161617;
        z-index: 1000;
    }

    .active .close-outline {
        display: inline-block;
    }

    .active .navbarList {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
    }
}
